@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

.font-sora{
  font-family: "Sora", serif;
}

.active {
  background-color: cyan;
  color: blue;
}

.btn-activated {
  background-color: blue;
  color: white;
}

.dash-btn-active{
  background-color: white;
  color: #9538E2;
}

@theme {
  --color-blueviolet-100: #9538E2;
  --color-olivegreen-100: #309C08;
}