@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "tailwindcss";
@plugin "daisyui";

.font-sora{
  font-family: "Sora", serif;
}

.active {
  background-color: cyan;
  color: blue;
}

.btn-activated {
  background-color: blue;
  color: white;
}

@theme {
  --color-blueviolet-100: #9538E2
}